*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 700px;
    padding: 40px 2%;
    background-image: url('../imagem/nerd3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.logo{
    border-radius: 30px;
    background-image: url('../imagem/logo.jpg.jpeg');
    width: 200px;
    height: 100px;
    background-color: #ccc;
    float: left;
    background-size: cover;
    background-position: center;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: right;
    padding: 0 20px;
}

header nav.desktop-menu ul a{
    text-decoration: none;
    color: yellow;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav.desktop-menu ul a:hover{
    color: white;
}

nav.mobile-menu{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url('../imagens/menu-aberto.png');
    background-size: 100% 100%;
    display: none;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(230,230,230);
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}

.chamada1{
    max-width: 800px;
    float: right;
    margin: 140px 200px;
}

.chamada1  h2{
    animation-name: chamada1;
    animation-duration: 7s;
    font-size: 60px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

@keyframes chamada1{
    0%{
        right: 0;
        color: transparent;
    }

    100%{
        color: yellow;
    }
}

.fique-por-dentro{
    width: 100%;
    height: 400px;
    padding: 100px 40px;
    background-color: blueviolet;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../imagem/nerd2.jpg');
}

.noticias{
    border-radius: 30px;
    cursor: pointer;
    margin-left: 200px;
    width: 100px;
    display: inline-block;
    height: 100px;
    background-image: url('../imagem/imagemvideo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.noticias:hover{
    width: 120px;
    height: 120px;
}

.noticias2{
    border-radius: 30px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 200px;
    width: 100px;
    float: left;
    height: 100px;
    background-image: url('../imagem/imagemanime.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.noticias2:hover{
    width: 120px;
    height: 120px;
}

.noticias3{
    border-radius: 30px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 200px;
    width: 100px;
    float: left;
    height: 100px;
    background-image: url('../imagem/imagemnet.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.noticias3:hover{
    width: 120px;
    height: 120px;
}

.noticias4{
    border-radius: 30px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 200px;
    width: 100px;
    float: left;
    height: 100px;
    background-image: url('../imagem/imagemfilmes.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.noticias4:hover{
    width: 120px;
    height: 120px;
}

.sessao2{
    width: 100%;
    height: 400px;
}

.banner-slides{
    width: 100%;
    height: 500px;
    background-image: url('../imagem/imagembanner2.jpg');
    background-size: 100% 100%;
    background-position: center;
}

.sessao3{
    width: 100%;
    height: 1300px;
    padding-left: 300px;
    background-color: rgb(2, 2, 22);
    margin-top: 105px;
}

.sessao3 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -380px;
    text-align: center;
    color: yellow;
    padding-top: 30px;
    font-size: 30px;
}

.single{
    border-radius: 35px;
    margin-top: 40px;
    width: 400px;
    height: 500px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

.single img{
    padding: 0 20px;
    width: 300px;
    height: 200px;
}

.single h3{
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 20px;
    color: red;
}

.single p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 20px;
}

.single input[type=submit]{
    margin-top: 20px;
    margin-left: 130px;
    font-size: 18px;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.single input[type=submit]:hover{
    background-color: orangered;
    color: black;
}

.Ver-mais{
    padding: 40px 340px;
    margin-top: 40px;
    width: 70%;
    height: 200px;
}

.Ver-mais input[type=submit]{
    font-size: 18px;
    padding: 10px 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Ver-mais input[type=submit]:hover{
    background-color: orangered;
    color: black;
}

.sessao4{
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: blue;
    margin-top: -500px;
}

footer{
    padding: 40px 2%;
    background-color: black;
    color: white;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
}

footer img{
    float: left;
}




















@media  screen and (max-width: 768px){
    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }
    
    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .chamada1{
        max-width: 768px;
        text-align: center;
        float: none;
        margin: 170px;
    }

    .chamada1  h2{
        font-size: 30px;
        padding: 0 10px;
        color: white;
    }

    .sessao3{
        width: 100%;
        height: 2000px;

    }
    }

@media screen and (max-width: 830px){
    .fique-por-dentro{
        max-width: 1280px;
        height: 600px;
        padding: 150px 30px;
    }

    .noticias, .noticias2, .noticias3, .noticias4{
        float: none;
        margin-left: 30px;
        width: 35%;
        position: relative;
		max-width: 600px;
		padding: 30px 30px;
        display: inline-block
    }
}

@media screen and (max-width: 580px){
    footer{
        text-align: center;
     }
     
     footer p:nth-of-type(1){
         float: none;
 
     }
     
     footer p:nth-of-type(2){
         float: none;
         margin-top: 8px;
     }
}